/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {

  background         : gray;
  background-repeat  : no-repeat;
  background-position: center;

}

.panel {

  border       : 0.05em solid lightgray;
  border-radius: 0.75em 0.75em;
  margin-top   : 2em;
  padding      : 1em;
 
}

.panel-right {

  border       : 0.05em solid lightgray;
  border-radius: 0.25em 0.25em;
  margin-top   : -0.2em;
  padding      : 0.35em;
  font-size    : 1em;
  float        : right;

}
 
.panel-title a,
.panel-title a:active,
.panel-title a:visited {

  text-decoration: none;

}

.panel-heading {

	height: 3.6em;

}

